@font-face { font-family: Barlow; src: url('Barlow-Regular.otf'); }
@font-face { font-family: Ubuntu; src: url('Ubuntu-Light.ttf'); }



h1 {

  font-family: Ubuntu;
  display: block;
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  color: FFFFEE;
  text-align: center;
  
  
}


h2 {
	font-size:1.6em;
	font-family: Ubuntu;
  display: block;
  text-align: center;
  color: FFFFEE;
	
}

.collapsible {
  background-color: #2E2E2E;
  /* color: #444; */
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  /* background-color: #ccc; */
}

.content {
 
  
  text-align: left;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

/* Style the collapsible content. Note: hidden by default */


body {
	font-family: Barlow;
	/* background-image: linear-gradient(beige, linen 30%); */
	/* background: linen; */
	background: #2E2E2E;
	height: 100%;
	
	
}

a:link {
  color: 767676;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

p {
	
  font-size: 2em;
  float: center;
  /* width: 50%; /* == 400px * .5 = 200px */ */
  height: 50%; /* == 160px * .25 = 40px */
  margin: 5%; /* == 400px * .05 = 20px */
  padding: 3%; /* == 400px * .05 = 20px */
  background: #212121;
  color: #FFFFEE;
  
}

p.2 {
	


  text-align: right;	
  font-size: 10em;
  float: center;
  /* width: 50%; /* == 400px * .5 = 200px */ */
  height: 50%; /* == 160px * .25 = 40px */
  margin: 5%; /* == 400px * .05 = 20px */
  padding: 3%; /* == 400px * .05 = 20px */
  background: #52A7CC;
  
}


.column {
	flex: 50%;
	padding: 5px;
	

}

footer {
	padding: 2px;
	margin: 2px;
	background: #212121;
	font-size: 1em;
	text-align: center;
	color: white;
	
}

html { 
overflow-y: scroll;

}

.fade-in-image { 
   animation: fadeIn 3s; 
   display: flex;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;

  }

.fade-in-text {
  
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

